@property --angle {
    syntax: '<angle>';
    inherits: true;
    initial-value: 90deg;
}

body {
    padding: 11rem 0 3rem 3rem;
    background-color: black;
    color: white;
}

.border {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 360px;
    font-size: 16px;
    line-height: 140%;
    border: .7rem solid;
    padding: 2vw;
    border-image: conic-gradient(
        from var(--angle),
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255) 0.15turn,
        rgba(255, 255, 255, 0.1) 0.25turn
    ) 10;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        --angle: 440deg;
    }
}